{%  extends 'accounts/main.html' %}

{% block content %}

<div class="container-fluid">
	<div class="row">
		{%  include 'accounts/sidebar.html' %}
		<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
			<p class="btn" style="margin-bottom: 2%;">
				<span data-feather="user"></span>
				<strong style="font-size:1.1rem">Create new user</strong>
			</p>
			<div class="container-fluid">
				<form method="POST" action="" id="signupForm">
					{% csrf_token %}
					<h5 style="margin-bottom: 3%;">Personal Profile</h5>
					<div class="form-row">
						<div class="col-md-4">
							<div class="form-group" >
								<label>Full Name</label>
								<input type="text" class="form-control" name="name" id="name" placeholder="Enter full name of the user">
								<small class="form-text text-muted">Full name should contain first and last name</small>
							</div>
						</div>
						<div class="col-md-2"></div>
						<div class="col-md-4">
							<div class="form-group" >
								<label>Username</label>
								<input type="text" class="form-control" name="username" id="username" placeholder="Enter username...">
								<small class="form-text text-muted">Should be unique for each user. Cannot be changed</small>
							</div>
						</div>
					</div>
					<div class="form-row">
						<div class="col-md-4">
							<div class="form-group">
								<label>Email address</label>
								<input type="email" class="form-control" name="email" id="email" placeholder="Enter email...">
								<small class="form-text text-muted">Email address is never shared with anyone else</small>
							</div>
						</div>
					</div>
					<div class="form-row">
						<div class="col-md-4">
							<div class="form-group" >
								<label>Password</label>
								<input type="password" class="form-control" name="password1" id="password1" placeholder="Enter password">
								<small class="form-text text-muted">Choose a strong password</small>
							</div>
						</div>
						<div class="col-md-2"></div>
						<div class="col-md-4">
							<div class="form-group" >
								<label>Confirm Password</label>
								<input type="password" class="form-control" name="password2" id="password2" placeholder="Confirm password">
								<small class="form-text text-muted">Type the password once again, to avoid any typing mistakes</small>
							</div>
						</div>
					</div>
					<h5 style="margin-bottom: 3%;">Game Profile</h5>
					<div class="form-row">
						<div class="col-md-4">
							<div class="form-group">
								<label>Probability</label>
								<input type="number" class="form-control" name="probability" id="probability" placeholder="Enter probability">
								<small class="form-text text-muted">Determines the chance of winning for this user. You can change this later.</small>
							</div>
						</div>
						<div class="col-md-2"></div>
						<div class="col-md-4">
							<div class="form-group" >
								<label>Available Token</label>
								<input type="number" class="form-control" name="token_amount" id="token_amount"  placeholder="Enter token amount">
								<small class="form-text text-muted">Enter the starting tokens for this user. Can add more later.</small>
							</div>
						</div>
					</div>
					<div class="form-row" style="margin-bottom: 2%;">
						<div class="col-md-1">
							<a type="button" class="btn btn-secondary" href="{% url 'admin_dashboard' %}">Cancel</a>
						</div>
						<!-- <div class="col-md-1"></div> -->
						<div class="col-md-1">
							<button type="submit" class="btn btn-primary" id="submit_btn">Submit</button>
						</div>
					</div>
				</form>
			</div>
		</main>
	</div>
	<script>
		$().ready(function() {

			$("#signupForm").validate({
				rules: {
					name: "required",
					username: {
						required: true,
						minlength: 2
					},
					password1: {
						required: true
					},
					password2: {
						required: true,
						equalTo: "#password1"
					},
					email: {
						required: true,
						email: true
					},
					probability: {
						digits: true,
						min: 1,
              			max:100
					},
					token_amount: {
						digits: true
					}
				},
				messages: {
					name: "Please enter your fullname",
					username: {
						required: "Please enter a username",
						minlength: "Your username must consist of at least 2 characters"
					},
					password1: {
						required: "Please provide a password"
					},
					password2: {
						required: "Please provide a password",
						equalTo: "Please enter the same password as above"
					},
					email: "Please enter a valid email address",
				}
			});
	});
	</script>
</div>
{% endblock %}
